<div class='container'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'><img src="images/mapach.ico" height="60" alt="mapache" >ProjNotes</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li><a href='/'>Inicio 🦝</a></li>
      <li><a href='/about'>Acerca de ℹ</a></li>
    </ul>
  </div>
</div>