<h1>{{title}}</h1>
<h2><img src="images/materialize-logo.svg" height="60" alt="materialize">{{Content}}</h2>
 <div class="divider"></div>
  <div class="section">
    <h5>Que es?</h5>
    <blockquote cite="https://materializecss.com/about.html">
      <p>Creado y diseñado por Google, Material Design es un lenguaje de diseño que combina los principios clásicos del diseño de éxito junto con la innovación y la tecnología. El objetivo de Google es desarrollar un sistema de diseño que permita una experiencia de usuario unificada en todos sus productos en cualquier plataforma.</p>
      <footer>- Matrialize</footer>
    </blockquote>
    <p>
    Es un framework de css, el cual nos permite desarrollar nuestras paginas web de una manera dinámica, se basa en el esquema de material Desing de Google.

El framework CSS (Cascadin Style Sheets) es un lenguaje de diseño web que a menudo se implementa como un recurso y asegura, entre otras cosas, que el sitio web funcione en diferentes navegadores y que el código cumpla con ciertos requisitos mínimos.

Materialize básicamente simplifica este proceso de desarrollo web.

Materialize se puede instalar en nuestro proyecto de  node js, mediante el comando
    
    </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Elementos</h5>
    <p>A excepción de otros, Materialise proporciona varias interfaces, como colores, transiciones, fuentes, animaciones, libros de texto, títulos, gráficos, elementos de tablas, 
    etiquetas, presentación de herramientas, escritura a mano, diapositivas, animaciones flotantes, restos de máscaras, etiquetas, sistema de subpáginas, lista lista y sistema de red, etc. Por supuesto, las pertenencias 
    de la oficina de telas japonesas son del tipo de pantalla, 
    adecuadas para el tipo de pantalla, independientemente del tamaño. Por cierto, este sitio web está diseñado por el desarrollador y es un verdadero regalo.
    </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <p>Version del proyecto: {{appVersion}} </p>
  </div>
  </div><
 