<html>
  <head>
    <title>{{title}}</title>
    <link rel='shortcut icon' href='/images/mapach.ico' type='image/x-icon' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
  
    <nav class="#37474f blue-grey darken-3">
      {{>navbar}}
    </nav>

    <div class='container'>
      {{{body}}}
    </div>
    <script src='/bundle.js'></script>
  </body>
</html>